header{

width: 100%;
}

main{
width: 100%;
max-width: 1920px;
margin: 0 auto;

}


body {
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}
.container_delivery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.img_delivery {
    width: 100%;
    max-width: 150px;
    opacity: 1;
    transition: 0.5s;
}
.item_delivery{
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 110px;
    background-color: #ffffff;
    align-content: space-around;
    border: 2px solid #45A748;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dropbtn {
    position: absolute;
    top: 75%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:  #5c5c5c;
    padding: 10px 0px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #5c5c5c;
    cursor: pointer;
    padding: 0px 10px;
    background-color: #ffffff;
    
    
}

.show_points {
    position: absolute;
    
    animation: 0.5s linear 0s 1 normal forwards slidein;
}


.hide_points {
    position: absolute;
    animation: 0.5s linear 1s 1 reverse forwards slidein;
}




.dropdown-content {
    display: none;
    position: absolute;
 
    left: 0;
    width: 100%;
    background-color: white;
    min-width: 160px;
    
    z-index: 1;
}

.dropdown-content label {
   
    display: block;
    padding: 5px 0px;
    color: #5c5c5c;
    font-size: 14px;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
    animation: 0.5s linear 0s 1 normal forwards show_delivery;
}
.hidden_points{
    
    animation: 0.5s linear 0s 1 reverse forwards show_delivery;
}
.img_delivery_hide{
    opacity: 0;
    
}

/* <> */

    /* .dropbtn{cursor: pointer; position: absolute; top: 20px; left: 10px;} */
    .dropbtn:before, .dropbtn:after {content: "";
        position: absolute;
        width: 14px;
        height: 2px;
        right: 5px;
        top: 6px;
        background: gray;}
    .dropbtn:before {transform: rotate(45deg);}
    .dropbtn:after {transform: rotate(-45deg); right: 14px;}
    .show_points .dropbtn:after {
        transform: rotate(-45deg);
        right: 5px;
        transition: 1s;
    }
    
    
@keyframes slidein {
    from {
        top: 75%;
    }
  
    to {
        top: -50px;
    }
  }
  @keyframes show_delivery {
    from {
        bottom: -150%;
    }
  
    to {
        display: block;
        bottom: 0px;
    }
  }

